/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
/* Variables */
  :root{
    --BodyFontsFamily: 'Raleway', sans-serif;
    --MainColor: #FFE600;
    --MainAltColor: #1B1B1B;
    --MainSectionBg: #F5F5F5;
    --MainTransition: 0.4s;
    --MainPaddingTop: 100px;
    --MainPaddingBottom: 100px;
  }
/* Global Rules */
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  ::selection {
    background-color: black;
    color: var(--MainColor);
  }
  body{
    font-family: var(--BodyFontsFamily);
    color: black;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .bth {
    display: block;
    width: fit-content;
    text-transform: uppercase;
    background-color: var(--MainColor);
    color: var(--MainAltColor);
    border: 2px solid var(--MainColor);
    border-radius: 2px;
    transition: var(--MainTransition);
  }
  i {
    cursor: pointer;
  }
  h1, h2, h3 {
    text-transform: uppercase;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
/* Small Screen */
  @media (min-width: 768px) {
    .container{
      width: 750px;
    }
  }
/* Medium Screen */
  @media (min-width: 992px) {
    .container{
      width: 970px;
    }
  }
/* Lager Screen*/
  @media (min-width: 1200px) {
    .container{
      width: 1170px;
    }
  }
/* Styling The Header Section */
  header {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 110.34px;
  }
  header .header-nav {
    position: relative;
  }
  .header-nav .bars {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
  }
  .header-nav:hover .bars::before {
    content: "";
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: var(--MainColor) transparent var(--MainColor) transparent;
    bottom: -29.34px;
    right: 0;
  }
  .header-nav .bars span {
    width: 100%;
    background-color: var(--MainColor);
    height: 3px;
    border-radius: 5px;
  }
  .header-nav .bars span:nth-of-type(2),
  .header-nav .bars span:nth-of-type(3) {
    transition: var(--MainTransition);
  }
  .header-nav .bars span:nth-of-type(2) {
    width: 80%;
  }
  .header-nav .bars span:nth-of-type(3) {
    width: 60%;
  }
  .header-nav:hover .bars span:nth-of-type(2),
  .header-nav:hover .bars span:nth-of-type(3) {
    width: 100%;
  }
  .main-nav {
    position: absolute;
    right: 15px;
    top: calc(100% + 40px);
    min-width: 300px;
    background-color: rgb(0 0 0 / 90%);
    z-index: 1;
    border-bottom: 3px solid var(--MainColor);
    display: none;
  }
  .header-nav:hover .main-nav {
    display: unset;
  }
  .main-nav li:not(:last-child) {
  border-bottom: 1px solid #111;
  }
  .main-nav a {
    text-transform: uppercase;
    color: white;
    display: block;
    padding: 20px;
    transition: var(--MainTransition);
    font-weight: 500;
    position: relative;
  }
  .main-nav a:hover {
    padding-left: 30px;
    color: var(--MainColor);
    background-color: rgb(0 0 0 / 95%);
  }
  .main-nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid var(--MainColor);
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: var( --MainTransition);
  }
  .main-nav a:hover::before {
    width: 100%;
  }
  .main-nav li:last-child a::before {
    display: none;
  }
/* ----- Making The Header Section Responsive ----- */
  @media (max-width: 767px) {
    .header-nav {
      width: 100%;
    }
    .main-nav { 
      min-width: 100%;
    }
  }
/* Styling The Landing Section */
  .landing {
    background: var(--MainAltColor);
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .landing .content {
    text-align: center;
    padding-top: 50px;
  }
  .landing .title {
    font-weight: normal;
    letter-spacing: 8px;
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;
  }
  .landing .des {
    text-transform: capitalize;
    letter-spacing: 4px;
  }
  .landing .learn.bth {
    margin: 40px auto 0;
    padding: 12px 30px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .landing .learn.bth:hover {
    box-shadow: inset 0 0 0 24px var(--MainAltColor);
    color: var(--MainColor);
  }
  .landing .arrow-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .landing .arrow-content img {
    max-height: 40px;
  }
  .landing .arrow {
    padding: 30px 20px 10px;
  }
  .landing .arrow > img {
    animation: bouncing 1.25s linear infinite;
  }
/* ----- Making The Landing Section Responsive ----- */
  @media (max-width: 991px) {
    .landing .title {
      letter-spacing: 2px;
      line-height: 1.4;
    }
  }
  @media (max-width: 575px) {
    .landing .des {
      letter-spacing: 2px;
      line-height: 1.6;
    }
  }
/* Styling The Mountain Section */
  .mountain {
    padding: 150px 0;
    background-color: white;
  }
  .mountain .content {
    text-align: center;
  }
  .mountain-des {
    color: var(--MainAltColor);
    max-width: 575px;
    margin: 60px auto 0;
    line-height: 2;
  }
/* ------- Components Section Heading ------- */
  .section-heading {
    text-align: center;
    margin-bottom: 80px;
  }
  .section-heading h2.title {
    font-weight: normal;
    letter-spacing: 12px;
    margin: 30px auto;
    font-size: 24px;
  }
  .section-heading p.des {
    max-width: 725px;
    line-height: 2;
    margin: 0 auto;
    color: #444;
  }
/* ----- Making The Section Heading Responsive ----- */
  @media (max-width: 991px) {
    .section-heading h2.title {
      letter-spacing: 8px;
    }
  }
  @media (max-width: 575px) {
    .section-heading h2.title {
      font-size: 20px;
      letter-spacing: 4px;
    }
    .section-heading p.des {
      font-size: 14px;
    }
  }
/* Styling The Services Section */
  .services {
    padding-top: var(--MainPaddingTop);
    padding-bottom: var(--MainPaddingBottom);
    background-color: var(--MainSectionBg);
  }
  .services .boxes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
  .services .boxes {
    cursor: pointer;
    transition: var(--MainTransition);
  }
  .services .boxes:hover {
    transform: translateY(-10px);
  }
  .services .caption-box,
  .services .skills-box {
    color: var(--MainAltColor);
    background-color: white;
    border-radius: 2px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: var(--MainTransition);
  }
  .services .boxes:hover .caption-box,
  .services .boxes:hover .skills-box {
    color: white;
  }
  .services .caption-box {
    text-align: center;
    padding: 40px 15px 20px;
    height: 365px;
    margin-bottom: 26px;
    box-shadow: 0 0 15px rgb(27 27 27 / 15%);
    border-bottom: 1px solid transparent;
  }
  .services .boxes:hover .caption-box {
    border-radius: 2px 2px 0 0;
    margin-bottom: 0;
    border-bottom-color: #222;
  }
  .services h3.title {
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 4px;
    margin: 30px auto;
  }
  .services .caption-box .des {
    font-size: 14px;
    line-height: 1.8;
  }
  .services .skills-box {
    padding: 12px 10px 16px;
    box-shadow: 0 0 15px rgb(27 27 27 / 8%);
  }
  .services .boxes:hover .skills-box {
    border-radius: 0 0 2px 2px;
  }
  .services .caption-box::before,
  .services .skills-box::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: var(--MainAltColor);
    transition: var(--MainTransition);
  }
  .services .caption-box::after,
  .services .caption-box::before {
    top: 0;
  }
  .services .skills-box::after,
  .services .skills-box::before {
    bottom: 0;
  }
  .services .boxes:hover .caption-box:before,
  .services .boxes:hover .skills-box:before{
    height: 100%;
  }
  .services .caption-box::after,
  .services .skills-box::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background-color: #444;
    transition: var(--MainTransition);
  }
  .services .boxes:hover .caption-box::after,
  .services .boxes:hover .skills-box::after{
    width: 100%;
  }
  .services h4.title {
    text-transform: capitalize;
    font-weight: 500;
  }
  .services .skill .prog-holder {
    position: relative;
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background-color: #eee;
    overflow: hidden;
    margin: 6px auto 16px;
  }
  .services .skill:last-child .prog-holder {
    margin: 6px auto 0;
  }
  .services .skill .prog {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--MainAltColor);
    transition: var(--MainTransition);
  }
  .services .boxes:hover .skill .prog {
    background-color: var(--MainColor);
  }
/* Styling The Stats Section */
  .stats {
    padding-top: var(--MainPaddingTop);
    padding-bottom: var(--MainPaddingBottom);
    background-color: var(--MainAltColor);
  }
  .stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
  .stats .stats-box {
    text-align: center;
    background-color: #000;
    color: var(--MainAltColor);
    padding: 16px 0px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--MainTransition);
  }
  .stats .stats-box:hover {
    transform: scale(1.025) translateY(-2px);
    color: var(--MainColor);
  }
  .stats .stats-box::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 125%;
    background-color: #444;
    animation: spin 3.5s linear infinite;
  }
  .stats .stats-box::after {
    content: "";
    position: absolute;
    background: white;
    inset: 4px;
    border-radius: 2px;
    transition: var(--MainTransition);
  }
  .stats-box:hover::after {
    background-color: var(--MainAltColor);
  }
  .stats p {
    letter-spacing: 2px;
    z-index: 100;
    font-weight: 700;
  }
  .stats .stats-num {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .stats .stats-name {
    text-transform: uppercase;
    font-size: 14px;
  }
/* Styling The Portfolio Section */
  .portfolio {
    padding-top: var(--MainPaddingTop);
    padding-bottom: calc(var(--MainPaddingBottom) + 35px);
    position: relative;
  }
  .portfolio .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 80px;
  }
  .portfolio .filter {
    flex: 1;
    text-align: center;
    border: 1px solid;
    border-color: var(--MainAltColor) transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .portfolio .filter a {
    display: block;
    color: var(--MainAltColor);
    padding: 20px;
    text-transform: uppercase;
    font-weight: 500;
    transition: var(--MainTransition);
  }
  .portfolio .filter:first-of-type a:first-child,
  .portfolio .filter a:hover {
    background-color: var(--MainAltColor);
    color: var(--MainColor);
  }
  .portfolio .images-container {
    display: flex;
    flex-wrap: wrap;
  }
  .portfolio .images-container .box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: calc(100% / 6);
    height: 350px;
  }
  .portfolio .images-container .box:first-of-type,
  .portfolio .images-container .box:nth-of-type(3),
  .portfolio .images-container .box:nth-of-type(5) {
    background-color: var(--MainAltColor);
  }
  .portfolio .images-container .box:last-of-type,
  .portfolio .images-container .box:nth-of-type(2),
  .portfolio .images-container .box:nth-of-type(4) {
    background-color: #999;
  }
  .portfolio .images-container .box::before,
  .portfolio .images-container .box::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--MainTransition) linear;
  }
  .portfolio .images-container .box::before {
    content: "";
    width: 80%;
    height: 70%;
    background: rgb(255 230 0 / 90%);
    opacity: 0;
  }
  .portfolio .images-container .box:hover::before {
    opacity: 1;
  }
  .portfolio .images-container .box::after {
    content: "Hover Over Me... It is supposed to be an image instead of a color";
    color: white;
    opacity: 1;
    font-size: 20px;
    width: 90%;
    text-align: center;
  }
  .portfolio .images-container .box:hover::after {
    opacity: 0;
  }
  .portfolio .images-container .caption {
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 55%;
    padding: 20px 0;
    background: white;
    color: var(--MainAltColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: var(--MainTransition) linear;
  }
  .portfolio .images-container .box:hover .caption {
    top: 50%;
  }
  .portfolio .images-container .title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .portfolio .images-container .des {
    font-size: 12px;
    line-height: 1.6;
    max-width: 90%;
    margin: 0 auto;
  }
  .portfolio .like.bth {
    padding: 12px 30px;
    font-weight: 500;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .portfolio .like.bth:hover {
    box-shadow: inset 0 0 0 24px var(--MainAltColor);
    color: white;
    border-color: #111;
    background-color: var(--MainAltColor);
  }
/* ----- Making The Portfolio Section Responsive ----- */
  @media (max-width: 1349px) {
    .portfolio .images-container {
      justify-content: center;
      gap: 10px;
    }
    .portfolio .images-container .box {
      width: calc(90% / 3);
    }
    .portfolio .images-container .des {
      max-width: 85%;
    }
  }
  @media (max-width: 991px) {
    .portfolio .content {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
    .portfolio .content .image {
      order: 1;
      margin-bottom: 30px;
    }
    .portfolio .content .filter {
      gap: 12px;
    }
    .portfolio .content .filter:first-of-type {
      order: 2;
      border-bottom: none;
    }
    .portfolio .content .filter:last-of-type {
      order: 3;
      border-top: none;
    }
  }
  @media (max-width: 767px) {
    .portfolio .images-container .box {
      width: calc(90% / 2);
    }
    .portfolio .images-container {
      gap: 30px 10px;
    }
  }
  @media (max-width: 575px) {
    .portfolio .filter a {
      padding: 20px 10px;
    }
    .portfolio .images-container .box {
      width: calc(90% / 1);
    }
  }
/* Styling The Video Section */
  section.video {
    padding-top: var(--MainPaddingTop);
  }
  section.video .box{
    background-color: var(--MainAltColor);
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .view.bth {
    background-color: transparent;
    color: var(--MainColor);
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 8px;
  }
  .view.bth:hover {
    color: var(--MainAltColor);
    background-color: var(--MainColor);
  }
/* ----- Making The Video Section Responsive ----- */
  @media (max-width: 575px) {
    .view.bth {
      padding: 18px;
      letter-spacing: 4px;
      text-align: center;
    }
  }
/* Styling The Team Section */
  .team {
    padding-top: var(--MainPaddingTop);
    padding-bottom: calc(var(--MainPaddingBottom) + 100px);
  }
  .team .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
  }
  .team .box {
    -webkit-box-shadow: 0px 0px 15px rgb(27 27 27 / 15%);
    -webkit-box-shadow: 0px 0px 15px rgb(27 27 27 / 15%);
    box-shadow: 0px 0px 15px rgb(27 27 27 / 15%);
    background-color: white;
    text-align: center;
    border-radius: 0 0 2px 2px;
  }
  .team .box .image {
    background: url(../Images/team-member.svg);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 350px;
    position: relative;
  }
  .team .box .author {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(255 230 0 / 80%);
    width: 100%;
    padding: 14px;
  }
  .team .box .des {
    padding: 20px 14px;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .team .box .des::before {
    content: url(../Images/axes-light.svg);
    position: absolute;
    z-index: -1;
  }
/* ----- Making The Team Section Responsive ----- */
  @media (max-width: 767px) {
    .team .boxes {
      display: flex;
      flex-wrap: wrap;
      gap: 30px 20px;
    }
    .team .box {
      width: calc(90% / 2);
      margin: 0 auto;
    }
  }
  @media (max-width: 575px) {
    .team .box {
      width: calc(90% / 1);
    }
    .team .box .image {
      height: 450px;
    }
  }
  @media (max-width: 375px) {
    .team .box {
      width: calc(95% / 1);
    }
    .team .box .image {
      height: 350px;
    }
  }
/* Styling The About Section */
  .about {
    padding-top: var(--MainPaddingTop);
  }
  .about .background {
    background-color: var(--MainColor);
    height: 225px;
    width: 100%;
    position: absolute;
  }
  .about .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px , 1fr));
    gap: 30px;
  }
  .about .box {
    position: relative;
    height: 575px;
  }
  .about .box:first-of-type {
    top: calc(-172px - 20px);
  }
  .about .box:last-of-type {
    bottom: 145px;
  }
  .about .box .info-box {
    background-color: var(--MainAltColor);
    padding: 45px 26px;
    height: 400px;
  }
  .about .box .info-des {
    color: white;
    line-height: 1.8;
  }
  .about .quot {
    max-width: 500px;
    margin: 0 auto;
  }
  .about .box:first-of-type .quot {
    position: absolute;
    bottom: 0;
  }
  .about .box:last-of-type .quot {
    margin-bottom: 70px;
  }
  .about .quot q {
    display: block;
    text-align: center;
    color: #333;
    line-height: 1.6;
  }
  .about .quot .author {
    font-weight: 700;
    color: var(--MainAltColor);
    text-transform: capitalize;
    font-style: italic;
  }
  .about .box:last-of-type .author {
    text-align: right;
  }
  .about .image-box {
    background-color: var(--MainAltColor);
    width: 100%;
    height: 400px;
  }
/* ----- Making The About Section Responsive ----- */
  @media (min-width: 768px) and (max-width: 1199px) {
    .about .box .info-box {
      max-width: 80%;
      margin: 0 auto;
    }
  }
  @media (max-width: 1199px) {
    .team {
      padding-bottom: unset;
    }
    .about {
      padding-bottom: var(--MainPaddingBottom);
    }
    .about .background, 
    .about .image-box{
      display: none;
    }
    .about .container {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    .about .box,
    .about .box .info-box,
    .about .box:first-of-type .quot {
      position: unset;
      height: unset;
    }
    .about .box .info-box {
      padding: 40px;
    }
    .about .box .quot {
      border-bottom: 1px solid #444;
      padding-bottom: 10px;
    }
    .about .box:first-of-type .quot {
      margin: 40px auto 0;
    }
    .about .box:last-of-type .quot {
      margin-bottom: unset;
    }
    .about .quot .author {
      padding-top: 10px;
      text-align: left !important;
    }
  }
  @media (max-width: 575px) {
    .about .box .info-box {
      padding: 20px 10px;
      max-height: 350px;
      overflow-y: scroll;
    }
  }
/* Styling The Footer Section */
  footer {
    padding-top: var(--MainPaddingTop);
    background-color: var(--MainAltColor);
  }
  footer *:not(i) {
    color: #BABABA;
  }
  footer > .container {
    display: flex;
  }
  footer .image {
    margin-bottom: 20px;
  }
  .footer-des {
    max-width: 475px;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  footer .created {
    margin-bottom: 8px;
  }
  footer .created a {
    color: var(--MainColor);
    transition: var(--MainTransition);
  }
  footer .created a:hover {
    color: white;
  }
  footer .footer-links,
  footer .contact-box {
    flex: 1 1;
  }
  footer .fl-title {
    text-transform: capitalize;
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
    font-size: 18px;
  }
  footer .links {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  footer .links > a {
    text-transform: capitalize;
    transition: var(--MainTransition);
  }
  footer .links > a:hover {
    color: var(--MainColor);
  }
  footer .contact-des {
    margin-bottom: 40px;
    line-height: 1.6;
  }
  footer .contact.bth {
    padding: 10px 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }
  footer .contact.bth:hover {
    box-shadow: 0 0 0 20px inset var(--MainAltColor);
    background-color: transparent;
    color: var(--MainColor);
  }
  footer .social {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
  }
  footer .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: var(--MainAltColor);
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    transition: var(--MainTransition);
  }
  footer .social a:hover {
    background-color: var(--color);
    color: white;
    border-color: var(--color);
    transform: rotate(1turn);
  }
  footer .coded {
    padding: 25px;
    text-align: center;
    margin: 50px 0 0;
    border-top: 1px solid #333;
    color: white;
    text-transform: capitalize;
  }
  footer .coded .author {
    color: var(--MainColor);
    font-weight: 700;
  }
/* ----- Making The Footer Section Responsive ----- */
  @media (min-width: 1200px) {
    footer .contact-box {
      flex-basis: 100px;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    footer .container {
      padding: 10px 0;
    }
    .footer-des {
      max-width: 425px;
    }
  }
  @media (max-width: 991px) {
    footer .container{
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }
    footer .info-box,
    footer .footer-links,
    footer .contact-box{
      text-align: center;
    }
    footer .contact-des,
    footer .contact.bth {
      margin: 0 auto 40px;
    }
    footer .social {
      justify-content: center;
    }
  }
  @media (max-width: 375px) {
    .footer-des {
      font-size: 14px;
    }
  }
/* ------ Animations ------ */
/* -------- Bouncing Animation -------- */
  @keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
/* -------- Spin Animation -------- */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }